@import "tailwindcss";

@font-face {
  font-family: "TWKLausanne";
  src: url("/fonts/lausanne/TWKLausanne-800.woff2") format("woff2");
  font-display: swap;
  font-weight: 800;
}

@font-face {
  font-family: "TWKLausanne";
  src: url("/fonts/lausanne/TWKLausanne-600.woff2") format("woff2");
  font-display: swap;
  font-weight: 600;
}

@theme {
  --font-lausanne: "TWKLausanne", sans-serif;
  --color-primary: #191919;
  --color-secondary: #6e6e6e;
  --color-grey: #6e6e73;
  --color-purple: #6936d1;
  --color-card-purple: #cab3f8;
  --color-card-light-purple: #f2ecfd;
  --color-blue: #00b2ff;
  --color-light-grey: #f2f1f3;
  --color-dark: #19171c;
  --shadow-nav:
    0 6.2rem 1.7rem 0 transparent, 0 4rem 1.6rem 0 rgba(0, 0, 0, 0.01),
    0 2.2rem 1.3rem 0 rgba(0, 0, 0, 0.02), 0 1rem 1rem 0 rgba(0, 0, 0, 0.04),
    0 0.2rem 0.5rem 0 rgba(0, 0, 0, 0.04);
  --shadow-nav-mobile:
    0 500px 250px rgba(0, 0, 0, 0.02), 0 400px 200px rgba(0, 0, 0, 0.1),
    0 160px 160px rgba(0, 0, 0, 0.08), 0 40px 80px rgba(0, 0, 0, 0.1);
}

body {
  font-family: "TWKLausanne", sans-serif;
  color: var(--color-primary);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  @apply font-lausanne tracking-[-0.42px] leading-[95%];
}

p {
  letter-spacing: -0.2px;
}

a {
  letter-spacing: -0.22px;
}

button {
  @apply cursor-pointer;
}

.bg-blue-gradient {
  background-image:
    linear-gradient(0deg, var(--color-blue), var(--color-blue)),
    linear-gradient(180deg, #a2d9ff, #29a9ff);
}

@utility transition_item {
  @apply transition-all duration-200 ease-in;
}

@utility mobile_padding {
  @apply px-5 lg:px-0;
}

@utility back_ease {
  transition: all 0.3s cubic-bezier(0.68, -0.55, 0.27, 1.55);
}

@utility max-w {
  max-width: 920px;
}

@utility max-w-mobile {
  max-width: 420px;
}

@utility max-w-desktop {
  max-width: 860px;
}

@utility h-center {
  display: flex;
  justify-content: center;
}

@utility v-center {
  display: flex;
  align-items: center;
}

@utility hv-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.margin-t {
  @apply mt-36;
}

.fade-edges {
  position: relative;
}

.fade-edges::before,
.fade-edges::after {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  width: 40px; /* Adjust fade width */
  pointer-events: none;
  z-index: 10;
}

.fade-edges::before {
  left: -2px;
  background: linear-gradient(to right, white, transparent);
}

.fade-edges::after {
  right: -10px;
  background: linear-gradient(to left, white, transparent);
}

.bg-card-light-purple {
  @apply bg-card-light-purple;
}

.bg-card-purple {
  @apply bg-card-purple;
}

/*GSDevTools*/
.gs-dev-tools {
  z-index: 1000;
}
